/* Created by: Yoochan Han
* Created on: Mar 2024
* This file contains the CSS for index.html
*/
body {
  background-color: aqua;
  color: black;
}

h2 {
  color: chocolate;
  font-size: smaller;
}

p {
  font-size: larger;
}